<a href="https://colab.research.google.com/github/ollihansen90/Mathe-SH/blob/main/Sudoku_231108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fragen?
Solltet ihr Fragen zum Code oder Probleme mit Colab haben, schickt uns gerne eine Mail:

*   h.hansen@uni-luebeck.de
*   friederike.meissner@student.uni-luebeck.de
*   dustin.haschke@student.uni-luebeck.de

# Sudoku

**Von ChatGPT:** "Sudoku ist ein Zahlenrätsel, bei dem ein 9x9-Gitter in neun 3x3-Untergrids unterteilt ist. Das Ziel ist es, alle Felder so zu füllen, dass in jeder Zeile, jeder Spalte und jedem Untergrid jede Zahl von 1 bis 9 genau einmal vorkommt. Das Rätsel beginnt mit einigen vorgegebenen Zahlen, und Sie müssen die leeren Felder ausfüllen, indem Sie logische Schlussfolgerungen und Eliminierungen verwenden. Es erfordert keine mathematischen Berechnungen, sondern hauptsächlich logisches Denken und Geduld."

Diese Zusammenfassung von ChatGPT ist schon ziemlich gut! ChatGPT liefert uns hier keinen Python-Code zum Erstellen und Lösen von Sudokus, aber genau das wollen wir in diesem Notebook machen.

Dieses Notebook ist in Unteraufgaben aufgeteilt, mit denen wir schrittweise zunächst ein gelöstes Sudoku einlesen und darstellen, um darauf aufbauend ein ungelöstes Sudoku zu erstellen. Der Algorithmus sollte in der Lage sein, Tausende unterschiedliche Sudokus zu erstellen! Im Anschluss soll ein weiterer Algorithmus entwickelt werden, der das soeben erstellte Sudoku (sowie "wilde" Sudokus, wie wir sie in Zeitungen finden) lösen kann.

**Achtung:** Es gibt viele verschiedene Varianten von Sudoku! Wir wollen hier nur die klassische Variante behandeln, wie ChatGPT sie oben beschrieben hat.

*Hinweis:* Dieses Notebook wird im Laufe der nächsten Woche schrittweise aufgebaut und wird entsprechend aktualisiert. Mit anderen Worten: Wenn das Notebook unvollständig wirkt, ist das genau so gewollt.

## Aufgabe 1: "Gelöstes" Sudoku einlesen (leicht)
Im folgenden Codeblock wird ein gelöstes Sudoku vorgegeben. Es handelt sich dabei um einen String mit neun Spalten, in denen jeweils neun Zahlen stehen.

Schreibe eine Funktion `sudoku2list()`, die aus dem String mit neun Spalten eine Liste mit neun Strings erstellt! In jedem Listeneintrag soll hinterher also eine Zeile des vorherigen Strings stehen. Die Funktion erhält also ein beliebiges Sudoku als String (hier wäre das `sudoku_string`) und wandelt es in eine Liste von Zeilen um.

*Hinweis:* Mit der `split()`-Funktion kannst du Strings auftrennen! Der Zeilenumbruch ist der Character `\n`.

In [ ]:
sudoku_string = """534678912
672195348
198342567
859761423
426853791
713924856
961537284
287419635
345286179"""

def sudoku2list(text):
    return text
sudoku = sudoku2list(sudoku_string)

In [ ]:
def sudoku2list(text):
    return text.split("\n")
sudoku = sudoku2list(sudoku_string)

## Aufgabe 2: Sudoku plotten (mittelschwer bis schwer)
Nun soll das Sudoku ausgegeben werden können! Überlege dir ein sinnvolles Design, wie das Sudoku auf der Konsole aussehen könnte. Im Optimalfall kann man sogar die 3x3-Blöcke erkennen:

```
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
```

Schreibe eine Funktion `plotte()`, die die Liste von Zeilen erhält und das Sudoku auf der Konsole ausgibt.

In [ ]:
def plotte(sudoku):
    # Das hier ist nur ein Beispiel
    for zeile in sudoku:
        z = ""
        for zeichen in zeile:
            z = z+zeichen+"|"
        print(z)
        print(9*"-+")

plotte(sudoku)

5|3|4|6|7|8|9|1|2|
-+-+-+-+-+-+-+-+-+
6|7|2|1|9|5|3|4|8|
-+-+-+-+-+-+-+-+-+
1|9|8|3|4|2|5|6|7|
-+-+-+-+-+-+-+-+-+
8|5|9|7|6|1|4|2|3|
-+-+-+-+-+-+-+-+-+
4|2|6|8|5|3|7|9|1|
-+-+-+-+-+-+-+-+-+
7|1|3|9|2|4|8|5|6|
-+-+-+-+-+-+-+-+-+
9|6|1|5|3|7|2|8|4|
-+-+-+-+-+-+-+-+-+
2|8|7|4|1|9|6|3|5|
-+-+-+-+-+-+-+-+-+
3|4|5|2|8|6|1|7|9|
-+-+-+-+-+-+-+-+-+

Lösung:

In [ ]:
def plotte(sudoku):
    # Das hier ist nur ein Beispiel
    print("+"+9*"---+")
    i = 0
    for zeile in sudoku:
        z = "| "
        j = 0
        for zeichen in zeile:
            if j%3==2:
                z += zeichen+" | "
            else:
                z = z+zeichen+"   "
            j += 1
        print(z)
        #print("+"+18*"-+")
        #print("+"+9*"---+")
        if i%3==2:
            print(9*"+---"+"+")
        else:
            print(9*"+   "+"+")
        i += 1

plotte(sudoku)

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

## Aufgabe 3: Zufällige Einträge löschen (mittelschwer)
Nachdem wir nun ein gelöstes Sudoku eingelesen und geplottet haben, soll nun ein Algorithmus entwickelt werden, der zufällige Einträge des Sudokus löscht, damit wir sie selbst errätseln können!

### Aufgabe 3.1: Einen bestimmtes Feld löschen (mittelschwer)
Schreibe eine Funktion `loesche_wert`, die das Sudoku in Form einer Liste von Zeilen, sowie einen Index erhält. Die Funktion soll ein Sudoku zurückgeben, in dem das Feld genau dieses Indexes leer ist.

Wir indizierendas Sudoku, indem wir einfach alle Werte von oben links nach unten rechts durchnummerieren. In der nullten Zeile (ganz oben) stehen also die Indizes 0, 1, 2, 3, 4, 5, 6, 7 und 8, in (beispielsweise) der sechsten Zeile stehen die Indizes 54, 55, 56, 57, 58, 59, 60, 61, und 62. Der Aufruf `loesche_wert(sudoku, 24)` würde also ein Sudoku zurückgeben, in dem in der zweiten Zeile und sechsten Spalte ein leeres Feld ist (wenn man bei 0 anfängt zu zählen).

In [ ]:
def loesche_wert(sudoku, idx):
    return sudoku

plotte(loesche_wert(sudoku, 0))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

In [ ]:
def loesche_wert(sudoku, idx):
    s = sudoku.copy()
    zeile = idx//9
    spalte = idx%9
    #print(zahl, zeile, spalte, sudoku[zeile][spalte])
    s[zeile] = s[zeile].replace(s[zeile][spalte], " ")
    return s

plotte(loesche_wert(sudoku, 24))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 |     6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 3.2: Liste mit Indizes erstellen
Im Folgenden möchten wir zufällige Felder leeren. Ziel ist es, dass wir eine Funktion haben, der wir ein gelöstes Sudoku und eine Anzahl zu löschender Felder übergeben und zufällig Felder fehlen. Damit wir keine Felder "doppelt" leeren, brauchen wir zunächst eine Funktion, die eine Liste von Indizes erstellt, in der kein Index doppelt vorkommt.

Schreibe eine Funktion `generiere_indizes()`, die eine Anzahl `n` erhält und eine Liste von `n` unterschiedlichen Zahlen zwischen 0 und 80 zurückgibt.

*Hinweis:* Mit dem Package `random` kannst du Zufallszahlen generieren!

In [ ]:
from random import randint, shuffle

def generiere_indizes(n=10, minwert=0, maxwert=80):
    assert minwert<maxwert, "minwert muss kleiner als maxwert sein"
    out = []
    # Schritt 1: Erstelle eine Liste mit den Werten von minwert bis maxwert
    liste = list(range(minwert, maxwert+1))
    #shuffle(liste)
    #out = liste[:n]

    for i in range(n):
        # Schritt 2: Ziehe eine Zufallszahl z von 0 bis len(liste)
        z = randint(0, len(liste)-1-i)
        # Schritt 3: Speichere liste[z] in out
        out.append(liste[z])
        # Schritt 4: Überschreibe liste[z] mit liste[-1]
        liste[z] = liste[-1-i]
        #print(liste)
        # Schritt 5: Wiederhole 2 und 3 und 4 (dieses Mal mit z von 0 bis len(liste)-i) n mal
    return out

print(generiere_indizes(9,0,80))

[45, 67, 42, 12, 16, 3, 18, 69, 76]

### Aufgabe 3.3: Generiere geleertes Sudoku
Zum Abschluss benötigen wir nur noch eine Funktion `loesche_werte()`, die eine bestimmte Anzahl zufälliger Felder löscht.

Schreibe eine Funktion `loesche_werte`, die ein Sudoku und eine Anzahl `n` erhält. Die Funktion soll zunächst eine Liste von `n` Indizes erstellen (hierfür kannst du die Funktion aus 3.2 nutzen) und die entsprechenden Felder leeren (hierfür brauchst du die Funktion aus 3.1).

In [ ]:
def loesche_werte(sudoku, n=40):
    s = sudoku.copy()
    # Schritt 1: Generiere n Indizes von 0 bis 80
    indizes = generiere_indizes(n, 0, 80)
    #print(indizes)
    # Schritt 2: Für jeden Index in der Liste rufe loesche_wert auf
    for idx in indizes:
        s = loesche_wert(s, idx)
    return s

plotte(loesche_werte(sudoku))

+---+---+---+---+---+---+---+---+---+
| 5   3     |         8 | 9   1     |
+   +   +   +   +   +   +   +   +   +
|     7   2 |     9   5 | 3       8 |
+   +   +   +   +   +   +   +   +   +
|         8 |         2 | 5         |
+---+---+---+---+---+---+---+---+---+
|           | 7       1 | 4       3 |
+   +   +   +   +   +   +   +   +   +
|     2   6 | 8   5   3 |     9     |
+   +   +   +   +   +   +   +   +   +
|         3 | 9         |           |
+---+---+---+---+---+---+---+---+---+
| 9       1 | 5   3     | 2   8     |
+   +   +   +   +   +   +   +   +   +
|         7 |     1     | 6   3     |
+   +   +   +   +   +   +   +   +   +
|     4   5 | 2       6 | 1         |
+---+---+---+---+---+---+---+---+---+

## Aufgabe 4: Zahlen tauschen (mittelschwer bis schwer)
Wenn du Aufgabe 3 lösen konntest, haben wir jetzt einen Generator für Sudokus entwickelt! Jedes der Sudokus ist lösbar (das heißt, es gibt eine Lösung, sie muss allerdings nicht eindeutig sein), sodass wir jetzt ein Buch mit Sudokus erstellen könnten.

Leider sind die Sudokus immer alle gleich... Wir stellen schnell fest, dass oben links immer eine 5 steht, unten rechts ist immer eine 9 und so weiter. Sobald wir das Sudoku ein mal gelöst haben, haben wir also direkt eine Lösung für unser ganzes Rätselbuch.

Dieses Problem können wir umgehen, indem wir einfach zufällige Einträge tauschen! Wir tauschen beispielsweise alle Einsen mit Fünfen und alle Siebenen mit Zweien. Schon haben wir einen Sudoku-Generator, der (auf den ersten Blick) tausende Sudokus produzieren kann!

Schreibe eine Funktion `tausche_werte`, der ein Sudoku als Liste von Zeilen erhält und dieses dann zufällig durchtauscht. Achte dabei dringend darauf, dass immer **alle** Einsen mit Neuen getauscht werden (zum Beispiel).

*Hinweis:* Die Funktion `replace()` kann in einem String zwei Zeichen tauschen. Auch hier solltest du wieder mit dem `random`-Package arbeiten.

In [ ]:
def tausche_werte(sudoku):
    s = sudoku.copy()
    indizes = generiere_indizes(9,1,9)
    #print(indizes)
    temp = indizes[0]
    for i in range(len(s)):
        s[i] = s[i].replace(str(temp), "x")

    for j in range(1, 9):
        erster = indizes[j]
        nullter = indizes[j-1]
        for i in range(len(s)):
            s[i] = s[i].replace(str(erster), str(nullter))

    for i in range(len(s)):
        s[i] = s[i].replace("x", str(indizes[-1]))
    return s

plotte(sudoku)
plotte(tausche_werte(sudoku))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 2   5   6 | 7   9   1 | 8   3   4 |
+   +   +   +   +   +   +   +   +   +
| 7   9   4 | 3   8   2 | 5   6   1 |
+   +   +   +   +   +   +   +   +   +
| 3   8   1 | 5   6   4 | 2   7   9 |
+---+---+---+---+---+---+---+---+---+
| 1   2   8 | 9   7   3 | 6   4   5 |
+   +   +   +   +   +   +   +   +   +
| 6   4   7 | 1   2   5 | 9   8   3 |
+   +   +   +   +   +   +   +   +   +
| 9   3   5 | 8   4   6 | 1   2   7 |
+---+---+---+---+---+---+---+---+---+
| 8   7   3 | 2   5   9 | 4   1   6 |
+   +   +   +   +   +   +   +   +   +
| 4   1   9 | 6   3   8 | 7   5   2 |
+   +   +   +   +   +   +   +   +   +
| 5   6   2 | 4   1   7 | 3   9   8 |
+---+---+---+---+---+---+---+---+---+

## Aufgabe 5: Zeilen und Spalten tauschen (mittelschwer bis schwer)
Es ist soweit! Wir haben FAST einen guten Generator für Sudokus gebaut, der wahnsinnig viele Sudokus erstellen kann!

Es gibt nur noch ein ganz fatales Problem: Aktuell haben alle Sudokus dasselbe "Muster". Stellen wir uns vor, wir haben ein Sudoku generier, in dem alle Fünfen durch Vieren ausgetauscht wurden. Oben links steht nun also eine 4 im Sudoku. Jetzt wissen wir aber genau, wo die anderen Vieren stehen müssen! Nämlich beispielsweise in Zeile 1 und Spalte 5 (wenn wir bei 0 anfangen zu zählen) oder in Zeile 3 und Spalte 1. Das wird leider sehr schnell sehr langsam, da die größte Herausforderung wäre, ein Mal alle Muster auswendig zu lernen.

Der Trick ist nun also, dass wir jeweils Zeilen und Spalten tauschen, ohne dass das Sudoku weiterhin lösbar ist.

### Aufgabe 5.1: Das Sudoku transponieren
In dieser Teilaufgabe möchten wir das Sudoku *transponieren*. "Transponieren" heißt, dass wir das Sudoku an der Hauptachse (von oben links nach unten rechts) spiegeln. Hinterher sind einfach alle Zeilen und Spalten vertauscht!

Beispiel: Stellen wir uns vor, wir haben eine 3x3-Matrix
```
|a b c|
|d e f|
|g h i|
```
Transponiert sieht diese Matrix jetzt so aus:
```
|a d g|
|b e h|
|c f i|
```
Wir lesen die die Matrix jetzt also quasi nicht mehr von zeilenweise von links nach rechts, sondern spaltenweise von oben nach unten!

Schreibe eine Funktion `transponiere`, die ein Sudoku erhält und das transponierte Sudoku zurückgibt.

*Hinweis*: Möglicherweise kannst du hier clever mit der `zip`-Funktion umgehen!

In [ ]:
def transponiere(sudoku):
    s = sudoku.copy()
    out = []
    for j in range(9):
        zeilentext = ""
        for i in range(9):
            zeilentext+= s[i][j]
        out.append(zeilentext)
    return out

def transponiere_zip(sudoku):
    s = sudoku.copy()
    out = []
    for spalte in zip(*s):
        out.append("".join(spalte))
    return out

def transponiere_zip2(sudoku):
    out = zip(*sudoku)
    return list(out)

plotte(sudoku)
#plotte(transponiere(sudoku))
print(transponiere_zip2(sudoku))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
[('5', '6', '1', '8', '4', '7', '9', '2', '3'), ('3', '7', '9', '5', '2', '1', '6', '8', '4'), ('4', '2', '8', '9', '6', '3', '1', '7', '5'), ('6', '1', '3', '7', '8', '9', '5', '4', '2'), ('7', '9', '4', '6', '5', '2', '3', '1', '8'), ('8', '5', '2', '1', '3', '4', '7', '9', '6'), ('9', '3', '5', '4', '7', '8', '2', '6', '1'), ('1', '4', '6', '2', '9', '5', '8', '3', '7'), ('2', '8', '7', '3', '1', '6', '4', '5', '9')]

### Aufgabe 5.2: Zeilen tauschen
Schreibe eine Funktion `tausche_zeilen`, die eine Sudoku `sudoku`, sowie zwei Indizes `idx1` und `idx2` erhält und diese beiden Zeilen entsprechend tauscht.

In [ ]:
def tausche_zeilen(sudoku, idx1, idx2):
    s = sudoku.copy()
    temp = s[idx1]
    s[idx1] = s[idx2]
    s[idx2] = temp
    return s

plotte(sudoku)
plotte(tausche_zeilen(sudoku, 0,3))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 5.3: Spalten tauschen
Schreibe eine Funktion `tausche_spalten`, die ein Sudoku `sudoku`, sowie zwei Indizes `idx1` und `idx2` erhält und entsprechend die Spalten tauscht.

*Hinweis*: Zum Tauschen von Spalten können die Funktionen `transponiere` und `tausche_zeilen` genutzt werden!

In [ ]:
def tausche_spalten(sudoku, idx1, idx2):
    out = sudoku.copy()
    out = transponiere(out)
    out = tausche_zeilen(out, idx1, idx2)
    out = transponiere(out)
    return out

plotte(sudoku)
plotte(tausche_spalten(sudoku, 0, 1))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 3   5   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 7   6   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 9   1   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 5   8   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 2   4   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 1   7   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 6   9   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 8   2   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 4   3   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 5.4: Erlaubte Zeilen/Spalten tauschen (schwer)
Offensichtlich können wir nicht einfach wild Zeilen und Spalten tauschen, wie wir wollen, da andernfalls das Sudoku nicht mehr lösbar ist! Tausche beispielsweise die erste und die letzte Spalte: Im Block oben links befinden sich nun zwei Zweien, zwei Siebenen und zwei Achten. Das Sudoku ist jetzt also nicht mehr korrekt gelöst!

Glücklicherweise gibt es eine ganz einfache Regel, mit der wir Zeilen und Spalten tauschen können, ohne dass das Sudoku "kaputt geht": Wir dürfen immer nur innerhalb eines Dreierblockes tauschen. Mit anderen Worten: Zeilen/Spalten 0, 1 und 2, sowie 3, 4 und 5, sowie 6, 7 und 8 dürfen wir untereinander tauschen.

Schreibe eine Funktion `tausche_erlaubte_zeilen`, die das Sudoku `sudoku`, sowie einen Index `idx` erhält. `idx` soll angeben, in welchem Block wir tauschen möchten. Alle drei Zeilen sollen wild durcheinandergetauscht (permutiert) werden.

Schreibe außerdem eine Funktion `tausche_erlaubte_spalten`, die genau das gleiche für Spalten macht!

*Hinweis*: Nutze die Funktion `generiere_indizes` aus Aufgabe 3.2, um eine Liste mit Indizes zu erhalten!

In [ ]:
def tausche_erlaubte_zeilen(sudoku, idx):
    s = sudoku.copy()
    out = []
    idc = generiere_indizes(3, idx*3+0, idx*3+2) #*3
    #print(idc)
    for i in range(len(s)):
        if i in idc:
            out.append(s[idc[i%3]])
        else:
            out.append(s[i])
    return out

def tausche_erlaubte_spalten(sudoku, idx):
    out = sudoku.copy()
    out = transponiere(out)
    out = tausche_erlaubte_zeilen(out, idx)
    out = transponiere(out)
    return out

plotte(sudoku)
plotte(tausche_erlaubte_zeilen(sudoku, 2))
plotte(tausche_erlaubte_spalten(sudoku, 2))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   2   1 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   7   6 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   3   2 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   1   9 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   6   5 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   4   8 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   5   3 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   9   7 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 5.5: Zeilen-/Spaltenblöcke tauschen (sehr schwer)
Neben einzelnen Zeilen und Spalten können wir genau so gut ganze Blöcke von Zeilen und Spalten tauschen. Das bedeutet, dass der Block "012" komplett mit dem Block "678" getauscht werden kann, ohne dass das Sudoku nicht mehr lösbar ist. Das sich ergebene Sudoku hat danach die Form "678345012".

Schreibe eine Funktion `tausche_zeilenbloecke`, die das Sudoku `sudoku` erhält und zufällig Zeilenblöcke vertauschen soll.

Schreibe danach eine Funktion `tausche_spaltenbloecke`, die das selbe mit Spalten macht.

*Hinweis*: Hier ist es möglicherweise sinnvoll, zunächst eine Hilfsfunktion zum Gruppieren von Zeilen in Blöcke zu schreiben. Die könnte so aussehen, dass wir jeweils die drei aufeinanderfolgenden Zeilen in einer Liste zusammenfassen.

In [ ]:
def tausche_zeilenbloecke(sudoku):
    s = sudoku.copy()
    out = s
    return out

def tausche_spaltenbloecke(sudoku):
    s = sudoku.copy()
    out = s
    return out

def gruppiere(sudoku):
    s = sudoku.copy()
    out = s
    return out

def degruppiere(sudoku): # .extend()
    out = []
    return out

plotte(sudoku)
plotte(tausche_zeilenbloecke(sudoku))
plotte(tausche_spaltenbloecke(sudoku))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 5.6: Zeilen/Spaltentausch durch Indizes (schwer)
Eine sehr viel einfachere und elegantere Alternative ist es, zunächst eine Liste erlaubter Tausch-Indizes zu erstellen und das Sudoku anschließend danach zu sortieren. Vorteil hierbei ist, dass wir uns die einzelnen Schritte von Blöcken und einzelnen Zeilen, bzw. Spalten sparen können und alles in einem Schritt lösen.

Schreibe eine Funktion `generiere_tauschindizes`, die keine Übergabeparameter hat und eine Liste erlaubter Tausch-Indizes zurückgibt.

Schreibe außerdem eine Funktion `sudoku_anordnen`, die ein Sudoku `sudoku` und eine Liste von Indizes `idc` erhält und das Sudoku entsprechend der Indizes anordnet.

*Hinweis*: Erlaubte Tausch-Indizes zu erstellen erscheint zunächst sehr kompliziert, ist aber relativ einfach, wenn wir uns die Blockform vergegenwärtigen. Ein Ansatz wäre es, dass wir zunächst die Block-Reihenfolge als Indexmenge erstellen und diese dann auf die Reihenfolge der Zeilen aufaddieren.

*Beispiel*: Ist die Block-Reihenfolge `[2,0,1]`, und die einzelnen Reihenfolgen der Zeilen `[0,1,2]`, `[1,2,0]` und `[2,1,0]`, dann ergibt sich die Liste der Tausch-Indizes als `[6,7,8,1,2,0,5,4,3]`.

In [ ]:
def generiere_tauschindizes():
    out = []
    blockidc = generiere_indizes(3,0,2)
    for idx in blockidc:
        out.extend(generiere_indizes(3, idx*3+0, idx*3+2))
        #out += (generiere_indizes(3, idx*3+0, idx*3+2))
    return out

def sudoku_anordnen(sudoku, idc):
    s = sudoku.copy()
    out = []
    for idx in idc:
        out.append(s[idx])
    return out

plotte(sudoku)
plotte(sudoku_anordnen(sudoku, generiere_tauschindizes()))

+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+---+---+---+---+---+---+---+---+---+

## Aufgabe 6: Sudokus generieren
In dieser Aufgabe möchten wir nun alles zusammenfügen, was wir bis hierher programmiert haben, um eigene Sudokus zu erstellen!

### Aufgabe 6.1: Fertiges Sudoku erstellen (mittelschwer)
Schreibe nun eine Funktion `erstelle_sudoku`, das ein gelöstes Sudoku `sudoku` und einen Wert `p` erhält und ein zu lösendes Sudoku ausgibt. Das `p` soll angeben, wie viele leere Felder das Sudoku haben soll!

*Hinweis*: Hier kannst du beliebige Funktionen aus vorherigen Aufgaben nutzen!

In [ ]:
import random

def erstelle_sudoku(sudoku, p=50):
    s = sudoku.copy()
    # 1. tausche Zeilen (sudoku_anordnen)
    s = sudoku_anordnen(s, generiere_tauschindizes())
    # 2. tausche Spalten (transponiere, sudoku_anordnen, transponiere)
    s = transponiere(s)
    s = sudoku_anordnen(s, generiere_tauschindizes())
    #s = transponiere(s)
    # 3. transponiere manchmal (transponiere)
    if random.random()>0.5:
        s = transponiere(s)
    # 4. lösche Einträge (loesche_werte)
    s = loesche_werte(s, p)
    return s

print(generiere_tauschindizes())
plotte(sudoku)
plotte(erstelle_sudoku(sudoku, p=50))

[7, 6, 8, 1, 2, 0, 4, 3, 5]
+---+---+---+---+---+---+---+---+---+
| 5   3   4 | 6   7   8 | 9   1   2 |
+   +   +   +   +   +   +   +   +   +
| 6   7   2 | 1   9   5 | 3   4   8 |
+   +   +   +   +   +   +   +   +   +
| 1   9   8 | 3   4   2 | 5   6   7 |
+---+---+---+---+---+---+---+---+---+
| 8   5   9 | 7   6   1 | 4   2   3 |
+   +   +   +   +   +   +   +   +   +
| 4   2   6 | 8   5   3 | 7   9   1 |
+   +   +   +   +   +   +   +   +   +
| 7   1   3 | 9   2   4 | 8   5   6 |
+---+---+---+---+---+---+---+---+---+
| 9   6   1 | 5   3   7 | 2   8   4 |
+   +   +   +   +   +   +   +   +   +
| 2   8   7 | 4   1   9 | 6   3   5 |
+   +   +   +   +   +   +   +   +   +
| 3   4   5 | 2   8   6 | 1   7   9 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
|     7     | 5   2     |     8     |
+   +   +   +   +   +   +   +   +   +
|         5 | 3   4   1 | 9       7 |
+   +   +   +   +   +   +   +   +   +
|           | 8         |           |
+---+---+---+---+---+---+---+---+---+
|         2 | 6   3     |         1 |
+   +   +   +   +   +   +   +   +   +
|           | 2   1     |         6 |
+   +   +   +   +   +   +   +   +   +
| 1       6 | 4   7   8 |           |
+---+---+---+---+---+---+---+---+---+
|           |     6   3 |           |
+   +   +   +   +   +   +   +   +   +
|         3 |         4 | 6         |
+   +   +   +   +   +   +   +   +   +
| 6       4 |     5     |           |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 6.2 (Bonus): Anzahl Sudokus (schwer)
Wie viele verschiedene Sudokus können wir mit diesem Algorithmus erstellen? Zwei Sudokus sind "verschieden", wenn auch nur ein einziges Feld sich unterscheidet. In diesem Gedankenexperiment ignorieren wir erst mal die Anzahl freier Felder.

*Hinweis*: Eine untere Grenze für die Anzahl der Sudokus ist 1, da wir auf jeden Fall mehr als nur ein Sudoku erstellen können, indem wir beispielsweise das Sudoku einfach transponieren. Eine obere Grenze wäre $\frac{81!}{9!^{9}}=5{,}31\cdot10^{70}$. Die Zahl ist seeehr groß, sie ist größer als eine 5 mit 70 Nullen! Das entspricht aller möglichen Kombinationen von jeweils neun mal die Zahlen von 1 bis 9. Hier sind allerdings auch unerlaubte Kombinationen dabei, wie beispielsweise nur Einsen in der ersten Spalte, nur Zweien in der zweiten und so weiter.

# Sudoku-Solver
Ein Sudoku-Solver (oder "Löser") ist ein Programm, das in der Lage ist, Sudokus zu lösen. Wir wollen im Folgenden ein solches Programm entwickeln, das unsere Sudokus löst!

## Aufgabe 1: Liste von Listen von Strings
Bisher war ein Sudoku eine Liste von Strings. Für den Solver ist das eher unpraktisch, da auf jedem der 81 Sudoku-Felder neun verschiedene Zahlen stehen können. In dieser Aufgabe erstellen wir dementsprechend also eine Liste von Listen von Strings.

Erstelle eine Funktion `initialisiere`, die eine Liste von Zeilen erstellt. Jede Zeile ist wiederum eine Liste von Feldern. Jedes Feld ist ein String mit den Zahlen von 1 bis 9.

In [ ]:
def initialisiere():
    eintraege = "123456789"
    #liste = 9*[9*[eintraege]]
    liste = []
    for i in range(9):
        zeile = []
        for j in range(9):
            zeile.append(eintraege)
        liste.append(zeile)
    return liste

solver = initialisiere()
#print(*solver, sep="\n")
print(solver, sep="\n")

[['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789']]

## Aufgabe 2: Sudoku einlesen
Das Ziel des Solvers ist es, dass am Ende unseres Programmes in jedem der Felder mit `"123456789"` jeweils nur noch eine Zahl steht. Erster Schritt ist also, direkt die bekannten Einträge des vorgegebenen Sudokus einzufügen.

Schreibe eine Funktion `einlesen`, die das Sudoku mit Lücken erhält und die entsprechenden bekannten Felder überschreibt. Hinterher sollte in `solver` eine Liste von Listen mit Strings stehen, in denen teilweise nur einzelne Zahlen stehen.

In [ ]:
from copy import deepcopy

def einlesen(solver, sudoku_leer):
    s = deepcopy(solver)
    for i in range(9):
        for j in range(9):
            if sudoku_leer[i][j]!=" ":
                s[i][j] = sudoku_leer[i][j]
    return s

#solver = initialisiere()
sudoku_leer = erstelle_sudoku(sudoku, p=20)
plotte(sudoku_leer)
print(solver)
solver_eingelesen = einlesen(solver, sudoku_leer)
print(solver_eingelesen)

+---+---+---+---+---+---+---+---+---+
| 4   5   9 | 7   8     |     3   1 |
+   +   +   +   +   +   +   +   +   +
| 8       7 | 6   4   1 | 5   2   9 |
+   +   +   +   +   +   +   +   +   +
|           |     3   9 |     4     |
+---+---+---+---+---+---+---+---+---+
| 7   9   6 | 2   5   8 | 4         |
+   +   +   +   +   +   +   +   +   +
| 5   4   2 | 3         | 9   7   8 |
+   +   +   +   +   +   +   +   +   +
|     1   8 | 4       7 | 2   6   5 |
+---+---+---+---+---+---+---+---+---+
|     8   4 | 9   7   3 | 1         |
+   +   +   +   +   +   +   +   +   +
| 9       3 | 1   6   5 | 7   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   7     | 8   2   4 | 3   9   6 |
+---+---+---+---+---+---+---+---+---+
[['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789'], ['123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789', '123456789']]
[['4', '5', '9', '7', '8', '123456789', '123456789', '3', '1'], ['8', '123456789', '7', '6', '4', '1', '5', '2', '9'], ['123456789', '123456789', '123456789', '123456789', '3', '9', '123456789', '4', '123456789'], ['7', '9', '6', '2', '5', '8', '4', '123456789', '123456789'], ['5', '4', '2', '3', '123456789', '123456789', '9', '7', '8'], ['123456789', '1', '8', '4', '123456789', '7', '2', '6', '5'], ['123456789', '8', '4', '9', '7', '3', '1', '123456789', '123456789'], ['9', '123456789', '3', '1', '6', '5', '7', '8', '4'], ['1', '7', '123456789', '8', '2', '4', '3', '9', '6']]

## Aufgabe 3: Solver plotten
Um Zwischenergebnisse sehen zu können, möchten wir gerne den Solver als Sudoku ausgeben. Hierfür brauchen wir eine Funktion zum Plotten, ähnlich wie `plotte` aus Aufgabe 2 im Kapitel "Sudoku".

Schreibe eine Funktion `plotte_solver`, die einen Solver `solver` erhält und in das `sudoku`-Format bringt. Alle Felder mit mehr als einem Eintrag sollen durch Leerzeichen ausgetauscht werden. Plotte anschließend das Sudoku.

**Achtung:** Überschreibe nicht die Funktion `plotte`, andernfalls muss der Codeblock ganz oben nochmals ausgeführt werden. Die Funktion `plotte` kann allerdings in `plotte_solver` aufgerufen werden.

In [ ]:
def plotte_solver(solver):
    s = deepcopy(solver)
    output = []
    for i in range(9):
        zeile = ""
        for j in range(9):
            eintrag = s[i][j]
            if len(eintrag)!=1:
                zeile = zeile+" "
            else:
                zeile = zeile+eintrag
        output.append(zeile)
    plotte(output)

#plotte(sudoku_leer) # Zum Vergleich
plotte_solver(solver_eingelesen)
print(solver_eingelesen[1])

+---+---+---+---+---+---+---+---+---+
| 9   2   5 | 6   4   1 | 3   7     |
+   +   +   +   +   +   +   +   +   +
| 1   3   6 | 7   8   2 |     9     |
+   +   +   +   +   +   +   +   +   +
| 7       8 | 5   3   9 | 6   1   2 |
+---+---+---+---+---+---+---+---+---+
| 2   5   1 | 9   7   3 | 8   4     |
+   +   +   +   +   +   +   +   +   +
| 6   9     | 8   2   4 | 7   5   1 |
+   +   +   +   +   +   +   +   +   +
| 4   8   7 | 1   6   5 | 2   3   9 |
+---+---+---+---+---+---+---+---+---+
| 3   1     | 2   5   8 | 9   6     |
+   +   +   +   +   +   +   +   +   +
| 5   6   2 |     9   7 | 1   8   3 |
+   +   +   +   +   +   +   +   +   +
| 8   7   9 | 3   1   6 | 4   2     |
+---+---+---+---+---+---+---+---+---+
['1', '3', '6', '7', '8', '2', '123456789', '9', '123456789']

## Aufgabe 4: Doppelte Einträge löschen
Beginnen wir langsam, das Sudoku zu lösen, indem wir zeilen- und spaltenweise doppelte Einträge löschen! Leichte Sudokus können wir (mit etwas Glück) damit schon lösen.

Die Idee ist Folgende: In jeder Zeile und Spalte kann jede Zahl nur ein einziges Mal vorkommen. Enthält also die Zelle ganz links bereits eine `4`, so können die bisher unbekannten Zellen derselben Zeile keine `4` enthalten. In unserer Funktion würden wir nun also sämtliche unbekannte Zellen einer Zeile durchlaufen und alle `4` aus `123456789` löschen. Die unbekannten Zellen würden hinterher nur noch `12356789` enthalten (also keine `4`).

### Aufgabe 4.1: Zeilenweise doppelte Einträge löschen
Schreibe eine Funktion `loesche_doppelte`, die das ungelöste Sudoku `solver` erhält und anschließend zeilenweise die doppelten Einträge aus den unbekannten Zellen löschen.

*Hinweis:* Sammle zunächst alle "bekannten" Einträge in einem String. Im Anschluss können die unbekannten Zellen einfach um genau diese Einträge verringert werden.

In [ ]:
def loesche_doppelte(solver):
    s = deepcopy(solver)
    for i in range(9):
        zeile = s[i]
        bekannte = ""
        for j in range(9):
            eintrag = zeile[j]
            if len(eintrag)==1:
                bekannte = bekannte+eintrag

        # Schritt 1: Finde Eintrag mit len(eintrag)>1
        for k in range(9):
            eintrag = zeile[k]
            if len(eintrag) != 1:

                # Schritt 2: Eliminiere alle "bekannte" aus "eintrag"
                for l in bekannte:
                    eintrag = eintrag.replace(str(l), "")

            # Schritt 3: Überschreibe Zeile s[i]
            s[i][k] = eintrag
    return s

plotte_solver(solver_eingelesen)
plotte_solver(loesche_doppelte(solver_eingelesen))

+---+---+---+---+---+---+---+---+---+
| 4   5   9 | 7   8     |     3   1 |
+   +   +   +   +   +   +   +   +   +
| 8       7 | 6   4   1 | 5   2   9 |
+   +   +   +   +   +   +   +   +   +
|           |     3   9 |     4     |
+---+---+---+---+---+---+---+---+---+
| 7   9   6 | 2   5   8 | 4         |
+   +   +   +   +   +   +   +   +   +
| 5   4   2 | 3         | 9   7   8 |
+   +   +   +   +   +   +   +   +   +
|     1   8 | 4       7 | 2   6   5 |
+---+---+---+---+---+---+---+---+---+
|     8   4 | 9   7   3 | 1         |
+   +   +   +   +   +   +   +   +   +
| 9       3 | 1   6   5 | 7   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   7     | 8   2   4 | 3   9   6 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 4   5   9 | 7   8     |     3   1 |
+   +   +   +   +   +   +   +   +   +
| 8   3   7 | 6   4   1 | 5   2   9 |
+   +   +   +   +   +   +   +   +   +
|           |     3   9 |     4     |
+---+---+---+---+---+---+---+---+---+
| 7   9   6 | 2   5   8 | 4         |
+   +   +   +   +   +   +   +   +   +
| 5   4   2 | 3         | 9   7   8 |
+   +   +   +   +   +   +   +   +   +
|     1   8 | 4       7 | 2   6   5 |
+---+---+---+---+---+---+---+---+---+
|     8   4 | 9   7   3 | 1         |
+   +   +   +   +   +   +   +   +   +
| 9   2   3 | 1   6   5 | 7   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   7   5 | 8   2   4 | 3   9   6 |
+---+---+---+---+---+---+---+---+---+

### Aufgabe 4.2: Spaltenweise doppelte Einträge löschen
Schreibe eine Funktion `loesche_spaltenweise`, die das ungelöste Sudoku `solver` erhält und anschließend spaltenweise die doppelten Einträge aus den unbekannten Zellen löschen.

*Hinweis:* Der Vorgang ist hier fast genau derselbe wie in Aufgabe 4.1. Du kannst also die Funktion `loesche_doppelte` nutzen.

In [ ]:
def transponiere_solver(solver):
    s = deepcopy(solver)
    out = []
    for i in range(9):
        inner = []
        for j in range(9):
            inner.append(s[j][i])
        out.append(inner)
    return out

def loesche_spaltenweise(solver):
    s = deepcopy(solver)
    s = transponiere_solver(s)
    s = loesche_doppelte(s)
    s = transponiere_solver(s)
    return s

plotte_solver(solver_eingelesen)
#plotte_solver(transponiere_solver(solver_eingelesen))
plotte_solver(loesche_spaltenweise(loesche_doppelte(solver_eingelesen)))
print(loesche_spaltenweise(loesche_doppelte(solver_eingelesen))[6])

+---+---+---+---+---+---+---+---+---+
| 4   5   9 | 7   8     |     3   1 |
+   +   +   +   +   +   +   +   +   +
| 8       7 | 6   4   1 | 5   2   9 |
+   +   +   +   +   +   +   +   +   +
|           |     3   9 |     4     |
+---+---+---+---+---+---+---+---+---+
| 7   9   6 | 2   5   8 | 4         |
+   +   +   +   +   +   +   +   +   +
| 5   4   2 | 3         | 9   7   8 |
+   +   +   +   +   +   +   +   +   +
|     1   8 | 4       7 | 2   6   5 |
+---+---+---+---+---+---+---+---+---+
|     8   4 | 9   7   3 | 1         |
+   +   +   +   +   +   +   +   +   +
| 9       3 | 1   6   5 | 7   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   7     | 8   2   4 | 3   9   6 |
+---+---+---+---+---+---+---+---+---+
+---+---+---+---+---+---+---+---+---+
| 4   5   9 | 7   8     | 6   3   1 |
+   +   +   +   +   +   +   +   +   +
| 8   3   7 | 6   4   1 | 5   2   9 |
+   +   +   +   +   +   +   +   +   +
|     6   1 | 5   3   9 |     4     |
+---+---+---+---+---+---+---+---+---+
| 7   9   6 | 2   5   8 | 4   1   3 |
+   +   +   +   +   +   +   +   +   +
| 5   4   2 | 3   1   6 | 9   7   8 |
+   +   +   +   +   +   +   +   +   +
| 3   1   8 | 4   9   7 | 2   6   5 |
+---+---+---+---+---+---+---+---+---+
|     8   4 | 9   7   3 | 1   5   2 |
+   +   +   +   +   +   +   +   +   +
| 9   2   3 | 1   6   5 | 7   8   4 |
+   +   +   +   +   +   +   +   +   +
| 1   7   5 | 8   2   4 | 3   9   6 |
+---+---+---+---+---+---+---+---+---+
['26', '8', '4', '9', '7', '3', '1', '5', '2']

### Aufgabe 4.3: Doppelte in 3x3-Blöcken
Zum Schluss fehlen nur noch die doppelten Einträge in 3x3-Blöcken! Schreibe eine Funktion `loesche_3x3`, die ein ungelöstes Sudoku `solver` erhält und für jeden 3x3-Block die doppelten Einträge in den unbekannten Zellen löscht.

In [ ]:
def loesche_3x3(solver):
    s = solver.copy()
    return s

plotte_solver(solver_eingelesen)
plotte_solver(loesche_3x3(solver_eingelesen))

## Aufgabe 5: Solver zusammensetzen
Aktuell haben wir drei Funktionen `loesche_doppelte`, `loesche_spaltenweise` und `loesche_3x3`, die die doppelten Einträge jeweils in Zeilen, in Spalten und in 3x3-Blöcken entfernt, bis nur noch einzelne Einträge existieren.

Schreibe eine Funktion `loese`, die ein ungelöstes Sudoku `solver` erhält und dieses dann so weit wie möglich löst! Nutze hierfür die Funktionen aus Aufgabe 4.

In [ ]:
def loese(solver):
    s = solver.copy()
    return s

plotte_solver(solver_eingelesen)
plotte_solver(loese(solver_eingelesen))